.banner-profile {
  // background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), asset-url("mountain_view.jpg");
  background: #3D0C11;
  height: 50vh;
  // background-size: cover !important;
  // background-position: center center;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  color: white;
}


.sand-color {
  background: #EAE0CC;
}

/* Controls design for unfavorite recipe */
.product-controls-black {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0px;
}
.product-controls-black a {
  padding: 0 20px;
  font-size: 17px;
  color: black;
}
.product-controls-black a:hover {
  color: #D3473C !important;
}
