.banner-profile {
  // background: linear-gradient(to left, #70e1f5 , #ffd194);
  background: linear-gradient(to left, #F0C27B , #A44A3F);
  height: 50vh;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
}


.sand-color {
  background: #EAE0CC;
}
