<div class="banner-recipes">
  <div class="index-info">

    <h1>Alle beschikbare recepten</h1>
    <p>Selecteer op categorie, keuken en gang</p>
  </div>
</div>


<div class="container is-medium" id="product-recipe">

  <h3 class="text-center">Zoek resultaten</h3>
  <%= render @recipes %>
</div>

<% if @recipes.present? %>
  <div class="apple_pagination" id="paginator">
    <%= paginate @recipes, :remote => true %>
  </div>
<% end %>


