.wrapper-review {
  background: #A9927D;
  padding: 30px;
}

// review lay-out
.review-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.review {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 3px;
  transition: all 0.15s ease;
  max-width: 400px;
  width: 100%;
  padding-left: 80px;
  background: white;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}


@media(max-width: 600px) {
  .review {
    flex-flow: column;
  }
}


/* Body design */
.review-body {
  .fa-star:before {
    background: linear-gradient(to left, #F0C27B , #4B1248);

    display: initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }
  .fa-star-o {
    color: grey;
  }
}
.review-body h3 {
  font-weight: bold;
  font-size: 23px;
  margin-top: 0;
}
.review-body p {
  color: black;
  margin-bottom: 0;
  font-size: 12px;
}

/* review image */
.review-image {
  border-radius: 10px;
  margin-right: 20px;
  // width: 175px;
}


/* Controls design */
.review-controls {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px;
}
.review-controls a {
  padding: 0 20px;
  font-size: 17px;
  color: #E6E6E6;
}
.review-controls a:hover {
  color: #D3473C !important
}
.review-controls-hidden a {
  color: transparent;
  font-size: 15px;
  transition: all 0.15s ease;
  border-color: transparent;
}

.review-date {
  margin-top: 10px;
  p {
    font-weight: lighter;
  }
}

.review-empty {
  background-color: white;
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-top: 20px;
  p {
    margin: 10px
  }

  a:hover {
    font-style: italic;
  }
}

/* Hover effects */
.review:hover {
  background: rgba(218, 218, 218, 0.76);;
  cursor: pointer;

  a:hover {
    text-decoration: none !important;
  }
}

/* the button to show the review form */

#give-review {
padding: 20px;
}
