<h4><strong><%= @user.first_name %>!</strong>, welcome to Zerra!</h4>

<p>Thank you for signing up at Zerra. After confirming your accout, you can add your own recipes</p>
<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token), class: "btn bnt-primary" %></p>

<p>If you didn't request this, please ignore this email.</p>
