<h4>Hi <strong><%= @user.first_name %>!</strong></h4>

<p>Welkom bij Zerra!</p>

<%= image_tag "https://zerra.herokuapp.com/assets/Zerra-cf0a6d5895ecc2ee6d98ceae04ca305ade1ec7da209fe5aebdc4464da02de6a3.png", class: "navbar-wagon-brand" %>

<p>Dank u voor het aanmelden bij Zerra. Na het bevestigen van jouw accout, kunt u uw eigen recepten toevoegen</p>
<p>U kunt uw account bevestigen via de onderstaande link:</p>

<p><%= link_to 'Bevestig mijn account', confirmation_url(@resource, confirmation_token: @token), class: "btn bnt-primary" %></p>

<p>Als je dit niet hebt aangevraagd, negeer dan deze e-mail .</p>

<p>The Zerra team</p>
