<div class="nested-fields">
  <%= f.input :name, placeholder: "Geef a.u.b. de naam van het ingrediënt", label: "Ingrediënt" %>
  <%= f.input :quantity, placeholder: "Geef a.u.b. de hoeveelheid aan van het ingrediënt", label: "hoeveelheid" %>
  <%= f.input :unit, placeholder: "Vul a.u.b. de eenheid in, eg. 'Gram'", label: "Eenheid" %>
</div>
